<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta name="description" content="Sneaker Hub where you will find different types of sneakers at the lowest price.">
    <link rel="shortcut icon" href="images/sneakerhub.jfif" type="image/x-icon">
    <title>Sneaker Hub</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <nav id="nav">
        <div class="navtop">
            <div class="navitem">
                <img src="images/sneakerhub.jfif" alt="" height="80" width="200" class="sneakerhub">
            </div>
            <div class="navitem">
                <div class="search">
                    <input type="text" name="searchinput" id="searchinput" placeholder="Search......."
                        class="searchinput">
                    <img src="images/search.jfif" alt="" class="searchicon" width="20" height="20">

                </div>
            </div>
            <div class="navitem">
                <a href="http://127.0.0.1:5500/login.html" target="_blank"><span class="login">Login</span><br><br></a>
                
                <span class="limitedoffer">Limited Offer!</span>
            </div>
            
        </div>
        <div class="navbottom">
            <h3 class="menuitem">AIR FORCE</h3>
            <h3 class="menuitem">JORDANS</h3>
            <h3 class="menuitem">BLAZER</h3>
            <h3 class="menuitem">CRATER</h3>
            <h3 class="menuitem">HIPPIE</h3>

        </div>
    </nav>
     <div class="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="images/airforce3.png" alt="" class="sliderimage">
                <div class="slidercircle"></div>
                <h1 class="slidertitle">AIR FORCE <BR> NEW</BR> SEASON</h1>
                <h1 class="sliderprice">$149</h1>

                <a href="#product"><button class="buy">BUY NOW!</button></a>

            </div>
            <div class="sliderItem">
                <img src="images/jordan.png" alt="" class="sliderimage">
                <div class="slidercircle"></div>
                <h1 class="slidertitle">AIR JORDAN <BR> NEW</BR> SEASON</h1>
                <h2 class="sliderprice">$199</h2>
                <a href="#product"><button class="buy">BUY NOW!</button></a>
            </div>
            <div class="sliderItem">
                <img src="images/blazer.png" alt="" class="sliderimage">
                <div class="slidercircle"></div>
                <h1 class="slidertitle">BLAZER <BR> NEW</BR> SEASON</h1>
                <h2 class="sliderprice">$139</h2>
                <a href="#product"><button class="buy">BUY NOW!</button></a>
            </div>
            <div class="sliderItem">
                <img src="images/crater.png" alt="" class="sliderimage">
                <div class="slidercircle"></div>
                <h1 class="slidertitle">CRATER <BR> NEW</BR> SEASON</h1>
                <h2 class="sliderprice">$129</h2>
                <a href="#product"><button class="buy">BUY NOW!</button></a>
            </div>
            <div class="sliderItem">
                <img src="images/hippie.png" alt="" class="sliderimage">
                <div class="slidercircle"></div>
                <h1 class="slidertitle">HIPPIE <BR> NEW</BR> SEASON</h1>
                <h2 class="sliderprice">$99</h2>
                <a href="#product"><button class="buy">BUY NOW!</button></a>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="feature">
            <img src="images/shipping.png" alt="" class="featureImg">
            <span class="featuretitle">FREE SHIPPING</span>
            <span class="featureDesc">Free WorldWide Shipping On All Orders</span>
        </div>
        <div class="feature">
            <img src="images/return.png" alt="" class="featureImg">
            <span class="featuretitle">30 DAYS RETURN</span>
            <span class="featureDesc">No question return and easy refund in 14 days</span>
        </div>
        <div class="feature">
            <img src="images/gift.png" alt="" class="featureImg">
            <span class="featuretitle">GIFT CARDS</span>
            <span class="featureDesc">Buy gift cards and use coupun codes easily</span>
        </div>
        <div class="feature">
            <img src="images/contact.png" alt="" class="featureImg">
            <span class="featuretitle">CONTACT US!</span>
            <span class="featureDesc">Keep in touch via email and support system.</span>
        </div>
    </div>
    <div class="product" id="product">
        <img src="images/air.png" alt="" class="productImg">
        <div class="productdetails">
            <h1 class="producttitle">AIR FORCE</h1>
            <h2 class="productprice">$149</h2>
            <p class="productdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolorem voluptate
                molestiae. Exercitationem recusandae odio dolorem repudiandae fuga quae quos.</p>

            <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
            </div>
            <div class="sizes">
                <div class="size">42</div>
                <div class="size">40</div>
                <div class="size">38</div>
            </div>
            <button class="productbutton">BUY NOW</button>
        </div>

        <div class="payment">
            <form name="myForm" method="POST" action="http://localhost:3000/card">
            <h1 class="paytitle">Personal Information</h1>
            <label for="name">Enter full name</label>
            <input type="text" class="payinput" placeholder="Ansh Sarin" name="name" id="name" ng-model="name" minlength="3" required>
            <span class="error" ng-show="myForm.name.$touched && myForm.name.$error.required">Name is
            required</span>
            <span class="error" ng-show="myForm.name.$error.minlength">Min 3 chars</span><br>

            <label for="phone">Phone Number</label>
            <input type="text" class="payinput" placeholder="+91 9765478632" name="phone" ng-model="phone" ng-pattern="/[0-9]{10}/">
            <span class="error" ng-show="myForm.phone.$touched && myForm.phone.$error.pattern">Invalid Phone Number</span><br>
            <label for="address">Address</label>
            <input type="text" class="payinput" placeholder="Enter address here..." name="address" ng-model="address" required>
            <span class="error" ng-show="myForm.address.$touched && myForm.address.$error.required">Address is
                required</span><br>
            <h1 class="paytitle">Card Information</h1>
            <div class="cardicons">
                <img src="images/visa.png" alt="" class="cardicon" width="40">
                <img src="images/mastercard.png" alt="" class="cardicon" width="40">
            </div>
            <input type="text" class="payinput" placeholder="Card Number" ng-pattern="/^4[0-9]{12}(?:[0-9]{3})?$/" ng-model="card" name="card" required>
            <span class="error" ng-show="myForm.card.$touched && myForm.card.$error.pattern">Invalid Number</span><br>


            <div class="cardinfo">
                <input type="text" class="payinput sm" placeholder="mm">
                <input type="text" class="payinput sm" placeholder="yyyy">
                <input type="password" class="payinput sm" placeholder="CVV" maxlength="3" required name="CVV" ng-model="CVV">
                <span class="error" ng-show="myForm.CVV.$touched && myForm.CVV.$error.required">CVV is
                    required</span>
            </div>
            <button class="paybutton">Check Out</button>
        </form>
            <span class="close">X</span>
        </div>
    </div>
    <div class="gallery">
        <div class="galleryitem">
            <h1 class="gallerytitle">Be Yourself!</h1>
            <img src="https://images.pexels.com/photos/9295809/pexels-photo-9295809.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="galleryimg">
        </div>
        <div class="galleryitem">
            <img src="https://images.pexels.com/photos/1040427/pexels-photo-1040427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="galleryimg">
            <h1 class="gallerytitle">This is the First Day of Your New Life!</h1>
        </div>
        <div class="galleryitem">
            <h1 class="gallerytitle">Just Do It!</h1>
            <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="galleryimg">
        </div>
    </div>
    <div class="newseason">
        <div class="nsitem">
            <img src="https://images.pexels.com/photos/4753986/pexels-photo-4753986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="nsimage">
        </div>
        <div class="nsitem">
            <h3 class="nsTitlesm">WINTER NEW ARRIVALS</h3>
            <h1 class="nsTitle">New Season</h1>
            <h1 class="nsTitle">New Collection</h1>
            <a href="#nav">
                <button class="nsbutton">Choose Your Style</button>
            </a>

        </div>

        <div class="nsitem">
            <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                alt="" class="nsimage">
        </div>
    </div>
    
    <footer id="footer">
        <div class="footerleft">
            <div class="footermenu">
                <h1 class="fmenutitle">About Us</h1>
                <ul class="fmenulist">
                    <li class="flistitem">Company</li>
                    <li class="flistitem">Contact</li>
                    <li class="flistitem">Careers</li>
                    <li class="flistitem">Affiliates</li>
                    <li class="flistitem">Stores</li>


                </ul>
            </div>
            <div class="footermenu">
                <h1 class="fmenutitle">Useful Links</h1>
                <ul class="fmenulist">
                    <li class="flistitem">Support</li>
                    <li class="flistitem">refund</li>
                    <li class="flistitem">FAQ</li>
                    <li class="flistitem">Feedback</li>
                    <li class="flistitem">Stories</li>


                </ul>
            </div>
            <div class="footermenu">
                <h1 class="fmenutitle">Products</h1>
                <ul class="fmenulist">
                    <li class="flistitem">Air Force</li>
                    <li class="flistitem">Air Jordan</li>
                    <li class="flistitem">Blazer</li>
                    <li class="flistitem">Crater</li>
                    <li class="flistitem">Hippie</li>


                </ul>
            </div>
        </div>
        <div class="footerright">
            <div class="footerrightmenu">
                <h1 class="fmenutitle">Subscribe to our newsletter!</h1>
                <div class="fmail">
                    <input type="email" placeholder="abc@gmail.com" class="finput">
                    <button class="fbutton">Join!</button>
                </div>
            </div>
            <div class="footerrightmenu">
                <h1 class="fmenutitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="images/facebook.png" alt="" class="fIcon">
                    <img src="images/twitter.png" alt="" class="fIcon">
                    <img src="images/instagram.png" alt="" class="fIcon">
                    <img src="images/whatsapp.png" alt="" class="fIcon">
                </div>
            </div>
            <div class="footerrightmenu">
                <span class="copyright">@Ansh Sarin.All Rights Reserved.2023.</span>
            </div>
        </div>

    </footer> 

    <script src="app.js"></script>

</body>

</html>